<div class="form-row">
  <div class="col-6">
   <%= link_to deposit_path do%>
     <%= image_tag "deposit", size: "100x100", class: "rounded float-center"%>  
   <% end %> 
  </div>
  <div class="col-6 col-sm-4">
    <%= link_to withdraw_path do%>
     <%= image_tag "withdraw", size: "100x100", class: "rounded float-right"%>
    <% end %>     
  </div>
</div>
<div class='form-row'>
  <div class="col-6">
    <%= link_to transfer_path do%>
      <%= image_tag "transfer", size: "100x100", class: "rounded float-left"%>
    <% end %>
  </div>

  <div class="col-6 col-sm-4">
    <%= link_to operations_path do%>
      <%= image_tag "bank_statement", size: "100x100", class: "rounded float-right"%>
    <% end %>
  </div>
</div>  
