<<!DOCTYPE html>
<html>
  <head>
    <title>NobeBanking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <div id="page-content-wrapper">
        <header>
          <%= render "shared/navbar"%>
        </header>
      </div>
    </div>
    <main>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-10 col-lg-8 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <div class="notice"><%= notice %></div>
                  <div class="alert"><%= alert %></div>
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div>
      <%= render "shared/footer" %>
    </div>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>