<<!DOCTYPE html>
<html>
  <head>
    <title>NobeBanking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <div id="page-content-wrapper">
        <header>
          <%= render "shared/navbar"%>
        </header>
      </div>
    </div>
   <p></p>  
    <main>
      <div class="container-fluid">
        <p class="notice ">
        <%= yield %>
      </div>
    </main>
    <div>
      <%= render "shared/footer" %>
    </div>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>