<!DOCTYPE html>
<html>
  <head>
    <title>NetshowMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'search', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
     <header>
          <%= render "shared/navbar"%>
     </header>

    <main>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-md-12 col-lg-9 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <em class="alert-primary"><%= notice %></em>
                  <em class="alert-danger"<%= alert %></em>
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div>
      <%= render "shared/footer" %>
    </div>


    <%= javascript_pack_tag 'search', 'data-turbolinks-track': 'reload' %>
  </body>
</html>