<h4>Bank statement</h4> 
<%= render 'filter_form' %>
<table class="table">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Amount</th>
      <th>date</th>
      <th>Details</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |op| %>
      <tr>
        <td><%= op.kind %></td>
        <td><%= op.amount %></td>
        <td><%= op.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', op %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
<br>
<%= link_to 'Back', root_path %>