    <h5 class="card-title text-center">New Transfer</h5>
  <%= form_with model: @operation, url: transfer_path, class: "form-horizontal" do |f| %>
    <%= @errors %>
      <div>
        <%= f.hidden_field :account_id, value: @account.id%>
        <%= f.hidden_field :kind, value: "transfer"%>
      </div>

  <div class="form-label-group col-md-8">
    <%= f.number_field :recipient, autofocus: true, autocomplete: "recipient", 
                     class: "form-control", placeholder: "Recipient" %><br />
    <%= f.label :recipient, "Account No" %>
  </div>

  <div class="form-label-group col-md-8">
    <%= f.text_field :amount, autofocus: true, autocomplete: "amount", 
                     class: "form-control", placeholder: "Amount" %><br />
    <%= f.label :amount, "Amount to transfer", class: "control-label" %>
  </div>
  <div class="actions">
    <%= f.submit "Transfer", class: "btn btn-success btn-lg btn-primary btn-block" %>
  </div>
  <% end %>
  <%= link_to "Back",root_path %>